<div class="main-content">
  <div class="dashboard-container">
    <h2>Welcome to the Dashboard!</h2>
    <p>You are now logged in.</p>
    <div class="slideshow">
      <button class="slide-btn prev" mat-icon-button (click)="prevSlide()"><mat-icon>chevron_left</mat-icon></button>
      <img [src]="slideImages[currentSlide]" alt="Slideshow Image" class="slide-img" />
      <button class="slide-btn next" mat-icon-button (click)="nextSlide()"><mat-icon>chevron_right</mat-icon></button>
    </div>
    <div class="slide-dots">
      <span *ngFor="let img of slideImages; let i = index" class="dot" [class.active]="i === currentSlide" (click)="goToSlide(i)"></span>
    </div>
  </div>
</div>

